@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf');
}

@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCond.ttf');
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf');
}

@font-face {
  font-family: 'MyriadProBoldCond';
  src: url('../fonts/MyriadProBoldCond.ttf');
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf');
}

@font-face {
  font-family: 'Sabon';
  src: url('../fonts/Sabon/Sabon_Roman.ttf');
}

@font-face {
  font-family: 'SabonBold';
  src: url('../fonts/Sabon/Sabon_Bold.ttf');
}

